@import "tailwindcss";

@theme {
  --color-one: #121113;
  --color-two: #1A659E;
  --color-three: #EABA6B;
  --color-four: #ffd60a;
  --color-five: #a31621;

  --breakpoint-xs: 375px;
  --xs: 375px;
  --breakpoint-sm: 575px;
  --sm: 575px;
  --breakpoint-md: 768px;
  --md: 768px;
  --breakpoint-lg: 992px;
  --lg: 992px;
  --breakpoint-xl: 1200px;
  --xl: 1200px;
  --breakpoint-xxl: 1600px;
  --xxl: 1600px;
}

figure {
  margin: 16px 0;

}

figure img {
  width: 100%;
}

.main_contain h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.main_contain p {
  line-height: 1.75;
  margin-bottom: 8px;
}