.dangerous_content {

    h2 {
        font-weight: bold;
        margin: 24px 0;
        font-size: 1.25rem;
        line-height: 1.75;
    }

    h3 {
        font-weight: bold;
        margin: 12px 0 8px;
        font-size: 1.125rem;

    }

    p {
        margin-bottom: 8px
    }

    ul {
        li {
            list-style: inside;
        }
    }
}